<h1>フォロワー一覧</h1>
<% if @followers.exists? %>
  <table>
    <% @followers.each do |follower| %>
      <tr>
        <td><%= link_to follower.email, follower %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>フォローされているユーザーはいません</p>
<% end %>
<div>
  <%= link_to t('views.common.back'), @user %>
</div>
