<p>フォロワー一覧</p>
<% if @followers.exists? %>
  <% @followers.each do |follower| %>
    <%= link_to follower.email, follower %><br>
  <% end %>
<% else %>
  <p>フォローされているユーザーはいません</p>
<% end %>
<div>
  <%= link_to t('views.translate.back'), :back %>
</div>
