<h1>フォロワー一覧</h1>
<% if @followers.exists? %>
  <% @followers.each do |follower| %>
    <%= link_to follower.email, follower %><br>
  <% end %>
<% else %>
  <p>フォローされているユーザーはいません</p>
<% end %>
<div>
  <%= link_to t('views.common.back'), @user %>
</div>
