<h1>フォロー一覧</h1>
<% if @followings.exists? %>
  <table>
    <% @followings.each do |following| %>
      <tr>
        <td><%= link_to following.email, following %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
<div>
  <%= link_to t('views.common.back'), @user %>
</div>
