<h1>フォロー一覧</h1>
<% if @followings.exists? %>
  <% @followings.each do |followings| %>
    <%= link_to followings.email, followings %><br>
  <% end %>
<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
<div>
  <%= link_to t('views.common.back'), @user %>
</div>
