<p style="color: green"><%= notice %></p>
<% if user_signed_in? %>

<h2>Users</h2>
<div id="user">
<% @users.each do |user| %>
    <p>
      <%= link_to user.email, user%>
    </p>
<% end %>
</div>

<%= paginate @users %>

<div>
  <%= link_to "top", books_path %>
</div>  
<% end %>
